a{
    text-decoration: none;
    color: black;
}
.WritePost{
    text-align: center;
}
#input_title{
    padding: 15px;
    font-size: 15px;
}
#input_description{
    padding: 15px;
    font-size: 15px;
}
#but_submit{
    width: 100px;
    height: 50px;
    font-size: 17px;
}