body{
  padding: 0px;
  margin: 0px;
  margin-left: 120px;
  margin-right: 120px;
}
table{
  text-align: center;
  margin-left:auto; 
  margin-right:auto;
}
th{
  background-color: skyblue;
  font-size: 20px;
}
td {
  border: 1px solid gray;
  height: 40px;
  font-size: 17px;
}

.home_body{
  margin-top: 20px;
}
  #home_body_posts_ID{
    width: 5%;
  }
  #home_body_posts_title{
    width: 20%;
  }
  #home_body_posts_userId{
    width: 5%;
  }
  #home_body_posts_date{
    width: 5%;
  }
  .home_body_posts_foot{
    margin-top: 20px;
    text-align: right;
  }