.post_body{
    margin-left: 40px;
    margin-right: 40px;
}
#post_body_title{
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    border: 2px solid gray;
    font-size: 35px;
}
.post_body_postInfor{
    margin-top: 20px;
    padding-bottom: 12px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(45, 117, 226);
    font-weight: bold;
}
#post_body_postInfor_userId{
    text-align: left;
}
#post_body_postInfor_date{
    text-align: right;
}
#post_body_description{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    font-size: 20px;
}
.post_foot{
    margin-top: 100px;
    text-align: right;
}
#post_foot_deleteBut{
    margin-left: 10px;
    width: 70px;
    height: 40px;
}